header {
    background-color:gray;
    border-style: solid;
    border-radius: 20px;
    padding: 5px; 
    text-align: center;
}
/* usar body para el cuerpo completo de la pagina  
*/
h2.estilo1 {
    background-color:white;
    border-style: groove;
    text-align: left;
    border-radius: 10px;
    padding: 5px;
    margin: auto;
    
}

header.estilo2 {
    background-color:green;
    width:520px;
    border-style: solid;
    border-radius: 20px;
    padding: 3px; 
    text-align: center;
}

h3.estilo2 {
 text-align: left;
}

.main{
    height: 20px;
}

a{
    color:teal;
    background-color:black;
    padding-left: 5px;
    
}
a:active {
    color:blue
}

a:hover{
    padding: 3px;
}